section.main-block
  .main-block_inner
    .main-block_left
      h1 Незабываемый праздник в стиле телешоу Форт Боярд в Калининграде
      p
        span.highlight 2,5 часа 
        | приключений с испытаниями среди красивых декораций, контактного зоопарка, головоломок и духа приключений. 
        | Превратите любое мероприятие в уникальное и запоминающееся
      button.btn-header 
        | Рассчитать
        br
        | стоимость
    .main-block_right
      .phone-block
        a(href="tel:+79622604324" class="phone-header") +7 (962) 260-43-24
        button.btn-call Перезвоните мне
      .play-button