- let navLinks = [{link: "#!", text: "Item1"}, {link: "#!", text: "Item2"}, {link: "#!", text: "Item3"}];

nav.nav 
    ul.nav-list
        each item, index in navLinks
            if index === 0
                li(class="nav-list__item")
                    a(href=item.link, class="nav-list__link nav-list__link--active")=item.text
            else 
                li(class="nav-list__item")
                    a(href=item.link, class="nav-list__link")=item.text