extends ./../layouts/main

block variables
    - let pageTitle = 'Главная страница';
    - let youAreUsingPug = true;
    - let h1 = 'Главный заголовок';

block content
    .container-fluid 
        header
            .container 
                include ./../components/bem-blocks/nav/nav.pug
        section
            .container
                h1.title= h1
                <h2 class="second-title">Header</h2>
                if youAreUsingPug
                    <p>You are amazing</p>
                else
                    <p>p Get on it!</p>
                <p>Pug is a terse and simple templating language with a strong focus on performance and powerful features.</p>
                include ./../components/sections/header/header.pug

