extends ./../layouts/main

block variables
    - let pageTitle = 'Главная страница';
    - let youAreUsingPug = true;
    - let h1 = 'Главный заголовок';

block content
    .container-fluid 
        header
            .container 
                include ./../components/bem-blocks/nav/nav.pug
        section.wrappew
            .container

                .swiper-slider

                .template-page
                    include ./../components/bem-blocks/navbar/navbar.pug
                        .main
                            include ./../components/bem-blocks/main/article.pug
