h1 {
  margin-bottom: 5rem;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.25;
  color: var(--white_1);
}

h2 {
  max-width: 78rem;
  text-align: center;
  margin-bottom: 3.2rem;
  font-size: 4.3rem;
  line-height: 1.15;
  font-weight: 700;
  color: var(--black_2);
}