.logo
  picture
    //- source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo@2x.avif 2x" type="image/avif")
    source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo@2x.webp 2x" type="image/webp")
    img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo@2x.jpg 2x" width="100" height="60" alt="Форт Боярд на Ялтинской" title="" loading="lazy")